.title
  word-break break-word
  margin-bottom: .4em
  text-decoration: none
  position: relative
  display: inline-block
  transition: color .3s ease-out

  em,
  span
    font-weight inherit
  sub
  sup,
    font-size 0.75em
  .tag
    vertical-align middle
  font-size: 2em
  font-weight bolder
  line-height 1.2
