@import "initial-variables"

overflow-touch()
  -webkit-overflow-scrolling touch

placeholder()
  $placeholders = ':-moz' ':-webkit-input' '-moz' '-ms-input'
  for $placeholder in $placeholders
    &:{$placeholder}-placeholder
      {block}

// Responsiveness

from($device)
  @media screen and (min-width $device)
    {block}

until($device)
  @media screen and (max-width $device - 1px)
    {block}

touch()
  @media screen and (max-width $desktop - 1px)
    {block}

until-widescreen()
  if $widescreen-enabled
    @media screen and (max-width $widescreen - 1px)
      {block}

widescreen()
  if $widescreen-enabled
    @media screen and (min-width $widescreen)
      {block}

widescreen-only()
  if $widescreen-enabled and $fullhd-enabled
    @media screen and (min-width $widescreen) and (max-width $fullhd - 1px)
      {block}

until-fullhd()
  if $fullhd-enabled
    @media screen and (max-width $fullhd - 1px)
      {block}

fullhd()
  if $fullhd-enabled
    @media screen and (min-width $fullhd)
      {block}

unselectable()
  -webkit-touch-callout none
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

$unselectable
  unselectable()

block($spacing = $block-spacing)
  &:not(:last-child)
    margin-bottom $spacing

$block
  block()
