@charset "UTF-8";

:where([data-theme=latte]) {
  color-scheme: light;
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --text: #4c4f69;
  --subtext1: #5c5f77;
  --subtext0: #6c6f85;
  --overlay2: #7c7f93;
  --overlay1: #8c8fa1;
  --overlay0: #9ca0b0;
  --surface2: #acb0be;
  --surface1: #bcc0cc;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
  --inverted-text: var(--base);
  --selection-color: var(--blue);
}

:where([data-theme=macchiato]) {
  color-scheme: dark;
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --subtext1: #b8c0e0;
  --subtext0: #a5adcb;
  --overlay2: #939ab7;
  --overlay1: #8087a2;
  --overlay0: #6e738d;
  --surface2: #5b6078;
  --surface1: #494d64;
  --surface0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
  --inverted-text: var(--crust);
  --selection-color: var(--mauve);
}

:where([data-theme=nord]) {
  color-scheme: light;
  --rosewater: #bf616a;
  --flamingo: #d08770;
  --pink: #b48ead;
  --mauve: #b48ead;
  --red: #bf616a;
  --maroon: #a3be8c;
  --peach: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --teal: #8fbcbb;
  --sky: #81a1c1;
  --sapphire: #5e81ac;
  --blue: #81a1c1;
  --lavender: #5e81ac;
  --text: #2e3440;
  --subtext1: #3b4252;
  --subtext0: #434c5e;
  --overlay2: #4c566a;
  --overlay1: #5a657a;
  --overlay0: #686e7e;
  --surface2: #76809f;
  --surface1: #7d8fa3;
  --surface0: #8fa3b0;
  --base: #eceff4;
  --mantle: #e5e9f0;
  --crust: #d8dee9;
  --inverted-text: var(--base);
  --selection-color: var(--sky);
}

:where([data-theme=mocha]) {
  color-scheme: dark;
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
  --inverted-text: var(--crust);
  --selection-color: var(--mauve);
}

:where([data-theme=tokyo_night]) {
  color-scheme: dark;
  --rosewater: #f7768e;
  --flamingo: #ff9e64;
  --pink: #bb9af7;
  --mauve: #bb9af7;
  --red: #f7768e;
  --maroon: #db4b4b;
  --peach: #ff9e64;
  --yellow: #e0af68;
  --green: #9ece6a;
  --teal: #1abc9c;
  --sky: #7dcfff;
  --sapphire: #2ac3de;
  --blue: #7aa2f7;
  --lavender: #82aaff;
  --text: #c0caf5;
  --subtext1: #a9b1d6;
  --subtext0: #9aa5ce;
  --overlay2: #787c99;
  --overlay1: #565f89;
  --overlay0: #414868;
  --surface2: #414868;
  --surface1: #33467c;
  --surface0: #24283b;
  --base: #1a1b26;
  --mantle: #16161e;
  --crust: #101014;
  --inverted-text: var(--crust);
  --selection-color: var(--blue);
}

:where([data-theme=nord_night]) {
  color-scheme: dark;
  /* --- Accents (Aurora & Frost) --- */
  /* Nord15 Purple */
  --rosewater: #b48ead;
  /* Nord12 Orange */
  --flamingo: #d08770;
  /* Nord15 Purple */
  --pink: #b48ead;
  /* Nord15 Purple */
  --mauve: #b48ead;
  /* Nord11 Red */
  --red: #bf616a;
  /* Nord11 Red (Reuse) */
  --maroon: #bf616a;
  /* Nord12 Orange */
  --peach: #d08770;
  /* Nord13 Yellow */
  --yellow: #ebcb8b;
  /* Nord14 Green */
  --green: #a3be8c;
  /* Nord7 Teal */
  --teal: #8fbcbb;
  /* Nord8 Cyan */
  --sky: #88c0d0;
  /* Nord9 Blue */
  --sapphire: #81a1c1;
  /* Nord10 Dark Blue */
  --blue: #5e81ac;
  /* Nord9 Blue or Nord15 Purple based on preference, usually Nord9 fits Lavender tone in Nord context */
  --lavender: #81a1c1;
  /* --- Text (Snow Storm) --- */
  /* Nord6 */
  --text: #eceff4;
  /* Nord5 */
  --subtext1: #e5e9f0;
  /* Nord4 */
  --subtext0: #d8dee9;
  /* --- Surfaces & Overlays (Polar Night) --- */
  /* Nord3 - Brightest Grey */
  --overlay2: #4c566a;
  /* Nord2 */
  --overlay1: #434c5e;
  /* Nord1 */
  --overlay0: #3b4252;
  /* Nord2 */
  --surface2: #434c5e;
  /* Nord1 */
  --surface1: #3b4252;
  /* Nord1 */
  --surface0: #3b4252;
  /* --- Backgrounds --- */
  /* Nord0 - Standard Background */
  --base: #2e3440;
  /* Manually darkened Nord0 for depth */
  --mantle: #292e39;
  /* Further darkened for lowest level */
  --crust: #242933;
  --inverted-text: var(--base);
  /* Nord8 is typically used for selections/highlights in Nord */
  --selection-color: #88c0d0;
}

a {
  color: var(--lavender);
}

a:hover {
  color: var(--blue);
}

h1.title,
a.title {
  color: var(--lavender);
}

.title a:hover {
  background: linear-gradient(to right, var(--pink), var(--blue), var(--lavender));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content h2 {
  color: var(--peach);
}

.content h3 {
  color: var(--yellow);
}

.content h4 {
  color: var(--green);
}

.content h5 {
  color: var(--blue);
}

.content h6 {
  color: var(--mauve);
}

.content mark {
  background-color: var(--yellow);
}

.content .task-list-item-checkbox {
  accent-color: var(--lavender);
}

.content .task-list-item-checkbox:checked {
  accent-color: var(--mauve);
}

.content strong {
  color: var(--red);
}

.content blockquote {
  border-color: var(--red);
}

.content blockquote:before {
  color: var(--red);
}

.content abbr[title]:hover::after {
  border: 2px solid var(--rosewater);
  background-color: var(--surface0);
  color: var(--text);
}

.content table {
  background-color: var(--base);
  border: 1px solid var(--surface0);
}

.content table th {
  background-color: var(--mantle);
  color: var(--text);
  border-bottom-color: var(--surface0) !important;
}

.content table td {
  color: var(--text);
  border-bottom-color: var(--surface0) !important;
}

.content table tbody tr:nth-child(even) {
  background-color: var(--mantle);
}

code {
  background-color: var(--base);
  color: var(--subtext1);
  border: 1px solid var(--surface0);
}

.level-left span,
.level-left a,
.level-left time {
  color: var(--overlay1);
}

article.media {
  color: var(--subtext1);
}

article.media a {
  color: inherit;
}

article.article .article-meta {
  color: var(--subtext1);
}

article .article-licensing {
  color: var(--subtext1);
  background-color: var(--base);
}

.button.is-primary,
.button.is-small,
.cc-window .cc-compliance > .cc-btn {
  background-color: var(--lavender);
  color: var(--base);
}

.button.is-primary:hover,
.button.is-small:hover,
.cc-window .cc-compliance > .cc-btn:hover,
.button.is-primary.is-hovered,
.button.is-small.is-hovered,
.cc-window .cc-compliance > .cc-btn.is-hovered {
  color: var(--base);
  background-color: var(--mauve);
}

.button.is-primary:active,
.button.is-small:active,
.cc-window .cc-compliance > .cc-btn:active,
.button.is-primary.is-active,
.button.is-small.is-active,
.cc-window .cc-compliance > .cc-btn.is-active {
  color: var(--text);
  background-color: var(--mauve);
}

.navbar-main,
.navbar-menu {
  background: hsl(from var(--mantle) h s l / 0.95);
}

.navbar .navbar-item.is-active {
  color: var(--lavender);
}

.navbar .navbar-item:hover,
.navbar .navbar-item:focus {
  color: var(--lavender);
  background-color: var(--surface0);
}

.navbar-burger {
  color: var(--flamingo);

  &:hover {
    color: var(--flamingo);
  }
}

.widget .menu-list a:hover,
.widget .menu-list a.is-active {
  background-color: var(--surface0);
}

.widget .menu-list li ul {
  border-color: var(--surface0);
}

.tag:not(body).is-primary,
.level-item.tag {
  background-color: var(--surface1);
}

.level-item.tag:hover {
  color: var(--base);
  background-color: var(--mauve);
}

.tags.has-addons .tag {
  color: var(--text);
  border-color: var(--surface0);
}

.tags.has-addons .tag:first-child {
  background: var(--base);
}

.tags.has-addons .tag:last-child {
  background: var(--mantle);
}

.timeline {
  border-left: 1px solid var(--overlay1);
}

.timeline .media:before {
  background: var(--overlay1);
}

.timeline .media:last-child:after {
  background: var(--base);
}

.timeline a,
[data-type='recent-posts'] a {
  color: var(--text);
}

.timeline a:hover,
[data-type='recent-posts'] a:hover {
  color: var(--text);
}

body {
  background: var(--mantle);
  color: var(--text);
}

.card {
  background: var(--mantle);
  border: 0.1px dashed var(--surface0);
}

input.task-list-item-checkbox:checked {
  background-color: var(--green);
  border-color: var(--green);
}

time,
.footer,
.navbar-item,
.navbar-link,
.menu-label,
.level-item,
.v * {
  color: var(--text);
}

.media-content,
.link-muted,
.cc-window {
  color: var(--text);
}

.input,
.textarea {
  background-color: var(--crust);
  border-color: var(--surface0);
  color: var(--text);
}

.footer,
.footer:before {
  background-color: var(--mantle);
  opacity: 0.8 !important;
}

hr {
  background-color: var(--surface0);
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--text);
  box-shadow: 0 0 0px 1000px var(--surface0) inset;
}

.gallery-item .caption {
  color: var(--overlay1);
}

.breadcrumb {
  color: var(--blue);
}

.breadcrumb li a {
  color: var(--yellow);
}

.breadcrumb li.is-active a {
  color: var(--mauve);
}

.cc-window {
  color: var(--text);
  background-color: var(--base);
  border: 1px solid var(--surface0);
}

.cc-window.cc-banner {
  background-color: var(--mantle);
}

.cc-window .cc-compliance > .cc-btn {
  color: var(--base);
  background-color: var(--lavender);
  backdrop-filter: blur(10px);
}

.cc-window .cc-compliance > .cc-btn:hover,
.cc-window .cc-compliance > .cc-btn:focus {
  background-color: var(--mauve);
}

.cc-window .cc-compliance > .cc-btn.cc-deny:hover {
  color: var(--lavender);
}

.cc-revoke {
  color: var(--base);
  background-color: var(--lavender);
}

.cc-revoke:hover {
  background-color: var(--mauve);
}

.pagination-next,
.pagination-previous,
.pagination-link,
.pagination-ellipsis {
  background: var(--mantle);
  color: var(--text);
}

.pagination-next a,
.pagination-previous a,
.pagination-link a,
.pagination-ellipsis a {
  color: var(--text);
}

.pagination-next:hover,
.pagination-previous:hover,
.pagination-link:hover,
.pagination-ellipsis:hover,
.pagination-next.is-hovered,
.pagination-previous.is-hovered,
.pagination-link.is-hovered,
.pagination-ellipsis.is-hovered {
  background-color: var(--lavender);
  color: var(--base);
}

.pagination-next:hover a,
.pagination-previous:hover a,
.pagination-link:hover a,
.pagination-ellipsis:hover a,
.pagination-next.is-hovered a,
.pagination-previous.is-hovered a,
.pagination-link.is-hovered a,
.pagination-ellipsis.is-hovered a {
  color: var(--base);
}

.pagination-link.is-current {
  background-color: var(--lavender);
  color: var(--base);
}

.post-navigation > a {
  color: var(--lavender);
}

.post-navigation > a:hover {
  color: var(--mauve);
}

.searchbox .searchbox-container {
  background-color: var(--base);
  border: 2px solid var(--surface0);
}

.searchbox .searchbox-header,
.searchbox .searchbox-header .searchbox-input,
.searchbox .searchbox-header .searchbox-close,
.searchbox .searchbox-body,
.searchbox .searchbox-result-item {
  color: var(--subtext1);
  background-color: var(--mantle);
  border-color: var(--surface0);
}

.searchbox .searchbox-container .searchbox-result-section .searchbox-result-item:hover,
.searchbox .searchbox-container .searchbox-result-section .searchbox-result-item.active,
.searchbox .searchbox-container .searchbox-header .searchbox-close:hover {
  color: var(--flamingo);
}

.floating-toc-button {
  background-color: var(--base);
  color: var(--text);
  border: 2px solid var(--surface0);
}

.floating-toc-container .widget {
  border: 1px solid var(--base);
}

.floating-toc-container .widget .menu-list a {
  color: var(--text);
}

.floating-toc-container .widget .menu-list a:hover {
  color: var(--mauve);
  background-color: inherit;
}

.tabs {
  color: var(--text);
}

.tabs ul {
  border-bottom-color: var(--surface0);
}

.tabs a {
  border-bottom-color: var(--surface0);
  color: var(--text);
}

.tabs a:hover {
  border-bottom-color: var(--lavender);
  color: var(--lavender);
}

.tabs li.is-active a {
  border-bottom-color: var(--blue);
  color: var(--blue);
}

.tabs.is-boxed a {
  background: transparent;
  border: 1px solid transparent;
}

.tabs.is-boxed a:hover {
  background-color: var(--surface1);
  border-bottom-color: var(--surface0);
}

.tabs.is-boxed li.is-active a {
  background-color: var(--base);
  border-color: var(--surface0);
  border-bottom-color: transparent !important;
}

.tabs.is-toggle a {
  border: 1px solid var(--surface0);
  background: transparent;
  color: var(--text);
}

.tabs.is-toggle a:hover {
  background-color: var(--surface1);
  border-color: var(--overlay1);
  color: var(--lavender);
}

.tabs.is-toggle li.is-active a {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--base);
}