@charset "UTF-8";

:where([data-theme=latte]) {
    color-scheme: light;
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --overlay2: #7c7f93;
    --overlay1: #8c8fa1;
    --overlay0: #9ca0b0;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;
    --inverted-text: var(--base);
    --selection-color: var(--blue);
}

:where([data-theme=macchiato]) {
    color-scheme: dark;
    --rosewater: #f4dbd6;
    --flamingo: #f0c6c6;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --red: #ed8796;
    --maroon: #ee99a0;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8bd5ca;
    --sky: #91d7e3;
    --sapphire: #7dc4e4;
    --blue: #8aadf4;
    --lavender: #b7bdf8;
    --text: #cad3f5;
    --subtext1: #b8c0e0;
    --subtext0: #a5adcb;
    --overlay2: #939ab7;
    --overlay1: #8087a2;
    --overlay0: #6e738d;
    --surface2: #5b6078;
    --surface1: #494d64;
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;
    --inverted-text: var(--crust);
    --selection-color: var(--mauve);
}

:where([data-theme=nord]) {
    color-scheme: light;
    --rosewater: #bf616a;
    --flamingo: #d08770;
    --pink: #b48ead;
    --mauve: #b48ead;
    --red: #bf616a;
    --maroon: #a3be8c;
    --peach: #d08770;
    --yellow: #ebcb8b;
    --green: #a3be8c;
    --teal: #8fbcbb;
    --sky: #81a1c1;
    --sapphire: #5e81ac;
    --blue: #81a1c1;
    --lavender: #5e81ac;
    --text: #2e3440;
    --subtext1: #3b4252;
    --subtext0: #434c5e;
    --overlay2: #4c566a;
    --overlay1: #5a657a;
    --overlay0: #686e7e;
    --surface2: #76809f;
    --surface1: #7d8fa3;
    --surface0: #8fa3b0;
    --base: #eceff4;
    --mantle: #e5e9f0;
    --crust: #d8dee9;
    --inverted-text: var(--base);
    --selection-color: var(--sky);
}

:where([data-theme=mocha]) {
    color-scheme: dark;
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --inverted-text: var(--crust);
    --selection-color: var(--mauve);
}

:where([data-theme=tokyo_night]) {
    color-scheme: dark;
    --rosewater: #f7768e;
    --flamingo: #ff9e64;
    --pink: #bb9af7;
    --mauve: #bb9af7;
    --red: #f7768e;
    --maroon: #db4b4b;
    --peach: #ff9e64;
    --yellow: #e0af68;
    --green: #9ece6a;
    --teal: #1abc9c;
    --sky: #7dcfff;
    --sapphire: #2ac3de;
    --blue: #7aa2f7;
    --lavender: #82aaff;
    --text: #c0caf5;
    --subtext1: #a9b1d6;
    --subtext0: #9aa5ce;
    --overlay2: #787c99;
    --overlay1: #565f89;
    --overlay0: #414868;
    --surface2: #414868;
    --surface1: #33467c;
    --surface0: #24283b;
    --base: #1a1b26;
    --mantle: #16161e;
    --crust: #101014;
    --inverted-text: var(--crust);
    --selection-color: var(--blue);
}

content-colors()
    h1.title
        color: var(--lavender)
    a
        color: var(--lavender);
        &:hover
            color: var(--blue);
    .content
        h2
            color: var(--peach)
        h3
            color: var(--yellow);
        h4
            color: var(--green);
        h5
            color: var(--blue);
        h6
            color: var(--mauve);
        mark
            background-color: var(--yellow);
        .task-list-item-checkbox
            accent-color: var(--lavender);
        .task-list-item-checkbox:checked
            accent-color: var(--mauve);
        strong
            color: var(--red);
        blockquote
            border-color: var(--red);
            &:before
                color: var(--red);
        abbr[title]:hover::after
            border: 2px solid var(--rosewater);
            background-color: var(--surface0);
            color: var(--text);
        table
            background-color: var(--base);
            border: 1px solid var(--surface0);
            th
                background-color: var(--mantle);
                color: var(--text);
                border-bottom-color: var(--surface0) !important;
            td
                color: var(--text);
                border-bottom-color: var(--surface0) !important;
            tbody tr
                &:nth-child(even)
                    background-color: var(--mantle);
    // Code block colors
    code
        background-color: var(--surface0);
        color: var(--subtext1);
        border: 1px solid var(--surface1);
    .level-left
        span, a, time
            color: var(--overlay1);
article-colors()
    article
        &.media
            color: var(--subtext1);
            a
                color: inherit;
        &.article
            .article-meta
                color: var(--subtext1);
        .article-licensing
            color: var(--subtext1);
            background-color: var(--base);
    .article, article.media
        .title a
            color: var(--text);
            &:hover
                background: linear-gradient(to right, var(--pink), var(--blue), var(--lavender))
                -webkit-background-clip: text
                background-clip: text
                -webkit-text-fill-color: transparent
            &:after
                background: linear-gradient(to right, var(--pink), var(--blue), var(--lavender))

button-colors()
    .button.is-primary, .button.is-light, .button.is-small, .cc-window .cc-compliance > .cc-btn
        background-color: var(--lavender);
        color: var(--base);
        &:hover, &.is-hovered
            color: var(--base);
            background-color: var(--mauve);
        &:active, &.is-active
            color: var(--text);
            background-color: var(--mauve);

toc-colors()
    .floating-toc-button
        background-color: var(--base)
        color: var(--text)
        border: 2px solid var(--surface0)
    .floating-toc-container .widget
        border: 1px solid var(--base)
        .menu-list a
            color: var(--text);
            &:hover
                color: var(--mauve);
                background-color: inherit

// Tabs component theme colors
tabs-colors()
    .tabs
        color: var(--text)
        ul
            border-bottom-color: var(--surface0)
        a
            border-bottom-color: var(--surface0)
            color: var(--text)
            &:hover
                border-bottom-color: var(--lavender)
                color: var(--lavender)
        li.is-active a
            border-bottom-color: var(--blue)
            color: var(--blue)
        // Boxed style
        &.is-boxed
            a
                background: transparent
                border: 1px solid transparent
                &:hover
                    background-color: var(--surface1)
                    border-bottom-color: var(--surface0)
            li.is-active a
                background-color: var(--base)
                border-color: var(--surface0)
                border-bottom-color: transparent !important
        &.is-toggle
            a
                border: 1px solid var(--surface0)
                background: transparent
                color: var(--text)
                &:hover
                    background-color: var(--surface1)
                    border-color: var(--overlay1)
                    color: var(--lavender)
            li.is-active a
                background-color: var(--blue)
                border-color: var(--blue)
                color: var(--base)

navbar-colors()
    .navbar-main
        .navbar-item.is-active
            background-color: transparent;
            color: var(--lavender);
        .navbar-menu .navbar-item
            &:hover, &:focus
                color: var(--lavender);
                background-color: var(--surface0);
    .navbar
        background-color: var(--crust);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-bottom: 1px solid var(--crust);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

widget-colors()
    .widget
        .menu-list
            a
                &:hover, &.is-active
                    background-color: var(--surface0);
            li ul
                border-color: var(--surface0);

tag-colors()
    .tag:not(body).is-primary, .widget .menu-list .tag
        color: var(--text);
        background-color: var(--surface1);

    // "tag" element in categories widget or arhive widget which looks like a button
    .widget .menu-list .tag
        &:hover
            color: var(--base);
            background-color: var(--mauve);

    // "tag" element in tags widget & tags page
    .tags.has-addons .tag
        color: var(--text);
        border-color: var(--surface0);
        &:first-child
            background: var(--base);
        &:last-child
            background: var(--mantle);

timeline-colors()
    .timeline
        border-left: 1px solid var(--overlay1);
        .media
            &:before
                background: var(--overlay1);
            &:last-child:after
                background: var(--base);
    .timeline a, [data-type='recent-posts'] a
        color: var(--text);
        &:hover
            color: var(--text);

ui-elements-colors()
    body
        background: var(--mantle);
        color: var(--text);
    input.task-list-item-checkbox:checked
        background-color: var(--green)
        border-color: var(--green)
    time, .footer, .navbar-item, .navbar-link, .menu-label, .level-item, .v *
        color: var(--text);
    .media-content, .link-muted, .cc-window
        color: var(--text);
    .input, .textarea
        background-color: var(--crust);
        border-color: var(--surface0);
        color: var(--text);
    .footer, .footer:before
        background-color: var(--mantle);
        opacity: 0.8 !important;
    // Horizontal rule
    hr
        background-color: var(--surface0);
    // Selection colors
    ::selection
        color: var(--base);
        background-color: var(--lavender);
    ::-moz-selection
        color: var(--text);
        background-color: var(--overlay0);
    // Form autofill
    input:-webkit-autofill
        -webkit-text-fill-color: var(--text);
        box-shadow 0 0 0px 1000px var(--surface0) inset;
    // Plugin colors
    .gallery-item .caption
        color: var(--overlay1);
    .breadcrumb
        color: var(--blue)
        li a
            color: var(--yellow)
        li.is-active a
            color: var(--mauve);

cookie-consent-colors()
    .cc-window
        color: var(--text);
        background-color: var(--base);
        border: 1px solid var(--surface0);
        &.cc-banner
            background-color: var(--mantle);
        .cc-compliance > .cc-btn
            color: var(--base);
            background-color: var(--lavender);
            backdrop-filter: blur(10px);
            &:hover, &:focus
                background-color: var(--mauve);
            &.cc-deny:hover
                color: var(--lavender);
    .cc-revoke
        color: var(--base);
        background-color: var(--lavender);
        &:hover
            background-color: var(--mauve);

pagination-colors()
    .pagination-next, .pagination-previous, .pagination-link, .pagination-ellipsis
        background: var(--mantle);
        color: var(--text);
        a
            color: var(--text);
        &:hover, &.is-hovered
            background-color: var(--lavender);
            color: var(--base);
            a
                color: var(--base);
    .pagination-link.is-current
        background-color: var(--lavender);
        color: var(--base);
    .post-navigation
        & > a
            color: var(--lavender);
        & > a:hover
            color: var(--mauve);

card-colors()
    .card
        background-color: var(--base);

searchbox-colors()
    .searchbox
        .searchbox-container
            background-color: var(--base);
            border: 2px solid var(--surface0);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
        .searchbox-header, .searchbox-header .searchbox-input, .searchbox-header .searchbox-close, .searchbox-body, .searchbox-result-section, .searchbox-result-item, .searchbox-pinyin
            color: var(--subtext1);
            background-color: var(--mantle);
            border-color: var(--surface0);
        .searchbox-container .searchbox-result-section .searchbox-result-item:hover, .searchbox-container .searchbox-result-section .searchbox-result-item.active, .searchbox-container .searchbox-header .searchbox-close:hover
            color: var(--blue);

// Apply all styles using CSS variables
content-colors()
article-colors()
button-colors()
navbar-colors()
widget-colors()
tag-colors()
timeline-colors()
ui-elements-colors()
cookie-consent-colors()
pagination-colors()
card-colors()
searchbox-colors()
toc-colors()
tabs-colors()
