$latte = {
    rosewater: #dc8a78,
    flamingo: #dd7878,
    pink: #ea76cb,
    mauve: #8839ef,
    red: #d20f39,
    maroon: #e64553,
    peach: #fe640b,
    yellow: #df8e1d,
    green: #40a02b,
    teal: #179299,
    sky: #04a5e5,
    sapphire: #209fb5,
    blue: #1e66f5,
    lavender: #7287fd,
    text: #4c4f69,
    subtext1: #5c5f77,
    subtext0: #6c6f85,
    overlay2: #7c7f93,
    overlay1: #8c8fa1,
    overlay0: #9ca0b0,
    surface2: #acb0be,
    surface1: #bcc0cc,
    surface0: #ccd0da,
    base: #eff1f5,
    mantle: #e6e9ef,
    crust: #dce0e8,
    card_bg: rgba(239, 241, 245, 0.2),
    card_bg_hover: rgba(220,218,245, 0.1),
    card_content_bg: rgba(255, 255, 255, 0.9),
    card_header_bg: rgba(239, 241, 245, 0.8)
};
$mocha = {
    rosewater: #f5e0dc,
    flamingo: #f2cdcd,
    pink: #f5c2e7,
    mauve: #cba6f7,
    red: #f38ba8,
    maroon: #eba0ac,
    peach: #fab387,
    yellow: #f9e2af,
    green: #a6e3a1,
    teal: #94e2d5,
    sky: #89dceb,
    sapphire: #74c7ec,
    blue: #89b4fa,
    lavender: #b4befe,
    text: #cdd6f4,
    subtext1: #bac2de,
    subtext0: #a6adc8,
    overlay2: #9399b2,
    overlay1: #7f849c,
    overlay0: #6c7086,
    surface2: #585b70,
    surface1: #45475a,
    surface0: #313244,
    base: #1e1e2e,
    mantle: #181825,
    crust: #11111b,
    card_bg: rgba(24, 24, 37, 0.4),
    card_bg_hover: rgba( 69, 69, 90, 0.1),
    card_content_bg: rgba(30, 30, 46, 0.5),
    card_header_bg: rgba(49, 50, 68, 0.6)
};

content-colors($colors)
    h1.title
        color: $colors.lavender
    .content
        h2
            color: $colors.peach;
        h3
            color: $colors.yellow;
        h4
            color: $colors.green;
        h5
            color: $colors.blue;
        h6
            color: $colors.mauve;
        a
            color: $colors.lavender;
            &:hover
                color: $colors.blue;
        strong
            color: $colors.pink;
        blockquote
            background-color: $colors.surface0;
            border-color: $colors.crust;
        table
            background-color: $colors.base;
            border: 1px solid $colors.surface0;
            th
                background-color: $colors.mantle;
                color: $colors.text;
                border-bottom-color: $colors.surface0 !important;
            td
                color: $colors.text;
                border-bottom-color: $colors.surface0 !important;
            tbody tr
                &:nth-child(even)
                    background-color: $colors.mantle;

                &:hover
                    background-color: $colors.surface0;
    // Code block colors
    code
        background-color: $colors.surface0;
        color: $colors.subtext1;
        border: 1px solid $colors.surface1;
    .level-left
        span, a, time
            color: $colors.overlay1;
        a
            &:hover
                color: $colors.blue;
article-colors($colors)
    article
        &.media
            color: $colors.subtext1;
            a
                color: inherit;
                &:hover
                    color: $colors.blue;
        &.article
            .article-meta
                color: $colors.subtext1;
        .article-licensing
            color: $colors.subtext1;
            background-color: $colors.base;

    .article, article.media
        .title a
            color: $colors.text;
            &:hover
                background: linear-gradient(to right, $colors.pink, $colors.blue, $colors.lavender)
                -webkit-background-clip: text
                background-clip: text
                -webkit-text-fill-color: transparent
            &:after
                background: linear-gradient(to right, $colors.pink, $colors.blue, $colors.lavender)

button-colors($colors)
    .button.is-primary, .button.is-light, .button.is-small, .cc-window .cc-compliance > .cc-btn
        background-color: $colors.lavender;
        color: $colors.base;
        &:hover, &.is-hovered
            color: $colors.base;
            background-color: $colors.mauve;
        &:active, &.is-active
            color: $colors.text;
            background-color: $colors.mauve;
    .button.is-white, .button.is-transparent
        background-color: transparent;
        color: $colors.text;
        &:hover
            background-color: $colors.surface0;
    .button.is-link
        background-color: $colors.blue;
    .button.is-link:hover, .button.is-link.is-hovered
        background-color: $colors.sapphire;

    .button.is-link:active, .button.is-link.is-active
        background-color: $colors.sapphire;

toc-colors($colors)
    .floating-toc-button
        background-color: $colors.base
        color: $colors.text
        border: 2px solid $colors.surface0
    .floating-toc-container .widget
        border: 1px solid $colors.card_bg
        .menu-list a
            color: $colors.text;
            &:hover
                color: $colors.mauve;
                background-color: inherit

// Tabs component theme colors
tabs-colors($colors)
    .tabs
        color: $colors.text
        ul
            border-bottom-color: $colors.surface0
        a
            border-bottom-color: $colors.surface0
            color: $colors.text
            &:hover
                border-bottom-color: $colors.lavender
                color: $colors.lavender
        li.is-active a
            border-bottom-color: $colors.blue
            color: $colors.blue
        // Boxed style
        &.is-boxed
            a
                background: transparent
                border: 1px solid transparent
                &:hover
                    background-color: $colors.surface1
                    border-bottom-color: $colors.surface0
            li.is-active a
                background-color: $colors.base
                border-color: $colors.surface0
                border-bottom-color: transparent !important
        &.is-toggle
            a
                border: 1px solid $colors.surface0
                background: transparent
                color: $colors.text
                &:hover
                    background-color: $colors.surface1
                    border-color: $colors.overlay1
                    color: $colors.lavender
            li.is-active a
                background-color: $colors.blue
                border-color: $colors.blue
                color: $colors.base

navbar-colors($colors)
    .navbar-main
        .navbar-item.is-active
            background-color: transparent;
            color: $colors.lavender;
        .navbar-menu .navbar-item
            &:hover, &:focus
                color: $colors.lavender;
                background-color: $colors.surface0;
    .navbar
        background-color: $colors.crust;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-bottom: 1px solid $colors.crust;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

widget-colors($colors)
    .widget
        .menu-list
            a
                &:hover, &.is-active
                    background-color: $colors.surface0;
            li ul
                border-color: $colors.surface0;

tag-colors($colors)
    .tag:not(body).is-primary, .widget .menu-list .tag
        color: $colors.text;
        background-color: $colors.surface1;

    // "tag" element in categories widget or arhive widget which looks like a button
    .widget .menu-list .tag
        &:hover
            color: $colors.base;
            background-color: $colors.mauve;

    // "tag" element in tags widget & tags page
    .tags.has-addons .tag
        color: $colors.text;
        border-color: $colors.surface0;
        &:first-child
            background: $colors.base;
        &:last-child
            background: $colors.mantle;

timeline-colors($colors)
    .timeline
        border-left: 1px solid $colors.overlay1;
        .media
            &:before
                background: $colors.overlay1;
            &:last-child:after
                background: $colors.base;
    .timeline a, .twikoo-new-container a, [data-type='recent-posts'] a
        color: $colors.text;
        &:hover
            color: $colors.text;

ui-elements-colors($colors)
    body, time, .title, .footer, .card, .navbar-item, .navbar-link, .menu-label, .level-item, .button.is-white, .button.is-transparent, .v *
        color: $colors.text;
    .media-content, .has-text-grey, .link-muted, .cc-window
        color: $colors.text;
    .input, .textarea
        background-color: $colors.crust;
        border-color: $colors.surface0;
        color: $colors.text;
    .footer, .footer:before
        background-color: $colors.mantle;
        opacity: 0.8 !important;
    // Horizontal rule
    hr
        background-color: $colors.surface0;
    // Selection colors
    ::selection
        color: $colors.base;
        background-color: $colors.lavender;
    ::-moz-selection
        color: $colors.text;
        background-color: $colors.overlay0;
    // Form autofill
    input:-webkit-autofill
        -webkit-text-fill-color: $colors.text;
        box-shadow 0 0 0px 1000px $colors.surface0 inset;
    // Plugin colors
    .gallery-item .caption
        color: $colors.overlay1;
    .pace .pace-progress
        background: $colors.blue;
    .breadcrumb
        a
            color: $colors.lavender;
        li.is-active a
            color: $colors.subtext1;

cookie-consent-colors($colors)
    .cc-window
        color: $colors.text;
        background-color: $colors.base;
        border: 1px solid $colors.surface0;
        &.cc-banner
            background-color: $colors.mantle;
        .cc-compliance > .cc-btn
            color: $colors.base;
            background-color: $colors.lavender;
            backdrop-filter: blur(10px);
            &:hover, &:focus
                background-color: $colors.mauve;
            &.cc-deny:hover
                color: $colors.lavender;
    .cc-revoke
        color: $colors.base;
        background-color: $colors.lavender;
        &:hover
            background-color: $colors.mauve;

pagination-colors($colors)
    .pagination-next, .pagination-previous, .pagination-link, .pagination-ellipsis
        background: $colors.mantle;
        color: $colors.text;
        a
            color: $colors.text;
        &:hover, &.is-hovered
            background-color: $colors.lavender;
            color: $colors.base;
            a
                color: $colors.base;
    .pagination-link.is-current
        background-color: $colors.lavender;
        color: $colors.base;
    .post-navigation
        color: $colors.subtext0;

card-colors($colors)
    .card
        background-color: $colors.card_bg;
        box-shadow: $card-shadow-light;

        &:hover
            box-shadow: $card-shadow-light-hover;

        .card-header
            background-color: $colors.card_header_bg;
            border-bottom: 1px solid $colors.surface1;

searchbox-colors($colors)
    .searchbox
        .searchbox-container
            background-color: $colors.card_bg;
            border: 2px solid $colors.surface0;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
        .searchbox-header, .searchbox-header .searchbox-input, .searchbox-header .searchbox-close, .searchbox-body, .searchbox-result-section, .searchbox-result-item, .searchbox-pinyin
            color: $colors.subtext1;
            background-color: $colors.mantle;
            border-color: $colors.surface0;
        .searchbox-container .searchbox-result-section .searchbox-result-item:hover, .searchbox-container .searchbox-result-section .searchbox-result-item.active, .searchbox-container .searchbox-header .searchbox-close:hover
            color: $colors.blue;

callout-colors($colors)
    $callout-background-opacity ?= 0.2
    $callout-border-opacity ?= 0.5

    // Default callout
    .callout
        border-color: rgba($colors.blue, $callout-border-opacity);
        background-color: rgba($colors.blue, $callout-background-opacity);
        .callout-title
            color: $colors.blue;
        .callout-title .callout-fold
            background-color: $colors.blue;
    .callout .callout-content
        background-color: transparent

    // Info callout
    .callout[data-callout="info"], .callout[data-callout="todo"]
        border-color: rgba($colors.sapphire, $callout-border-opacity);
        background-color: rgba($colors.sapphire, $callout-background-opacity);
        .callout-title
            color: $colors.sapphire;
        .callout-title .callout-fold
            background-color: $colors.sapphire;

    // Success callout
    .callout[data-callout="success"], .callout[data-callout="check"], .callout[data-callout="done"]
        border-color: rgba($colors.green, $callout-border-opacity);
        background-color: rgba($colors.green, $callout-background-opacity);
        .callout-title
            color: $colors.green;
        .callout-title .callout-fold
            background-color: $colors.green;

    // Warning callout
    .callout[data-callout="warning"], .callout[data-callout="caution"], .callout[data-callout="attention"]
        border-color: rgba($colors.peach, $callout-border-opacity);
        background-color: rgba($colors.peach, $callout-background-opacity);
        .callout-title
            color: $colors.peach;
        .callout-title .callout-fold
            background-color: $colors.peach;

    // Question callout
    .callout[data-callout="question"], .callout[data-callout="help"], .callout[data-callout="faq"]
        border-color: rgba($colors.yellow, $callout-border-opacity);
        background-color: rgba($colors.yellow, $callout-background-opacity);
        .callout-title
            color: $colors.yellow;
        .callout-title .callout-fold
            background-color: $colors.yellow;

    // Error/Danger callout
    .callout[data-callout="danger"], .callout[data-callout="error"], .callout[data-callout="bug"], .callout[data-callout="failure"], .callout[data-callout="fail"], .callout[data-callout="missing"]
        border-color: rgba($colors.red, $callout-border-opacity);
        background-color: rgba($colors.red, $callout-background-opacity);
        .callout-title
            color: $colors.red;
        .callout-title .callout-fold
            background-color: $colors.red;

    // Tip callout
    .callout[data-callout="tip"], .callout[data-callout="hint"], .callout[data-callout="important"]
        border-color: rgba($colors.pink, $callout-border-opacity);
        background-color: rgba($colors.pink, $callout-background-opacity);
        .callout-title
            color: $colors.pink;
        .callout-title .callout-fold
            background-color: $colors.pink;

    // Example callout
    .callout[data-callout="example"]
        border-color: rgba($colors.mauve, $callout-border-opacity);
        background-color: rgba($colors.mauve, $callout-background-opacity);
        .callout-title
            color: $colors.mauve;
        .callout-title .callout-fold
            background-color: $colors.mauve;

    // Summary callout
    .callout[data-callout="abstract"], .callout[data-callout="summary"], .callout[data-callout="tldr"]
        border-color: rgba($colors.teal, $callout-border-opacity);
        background-color: rgba($colors.teal, $callout-background-opacity);
        .callout-title
            color: $colors.teal;
        .callout-title .callout-fold
            background-color: $colors.teal;

    // Quote callout
    .callout[data-callout="quote"], .callout[data-callout="cite"]
        border-color: rgba($colors.lavender, $callout-border-opacity);
        background-color: rgba($colors.lavender, $callout-background-opacity);
        .callout-title
            color: $colors.lavender;
        .callout-title .callout-fold
            background-color: $colors.lavender;

twikoo-colors($colors)
    .twikoo
        color: $colors.text

        svg
            fill: $colors.lavender

        a
            color: $colors.lavender
            &:hover
                color: $colors.mauve
        // 展开按钮颜色
        .tk-expand
            color: $colors.subtext1
            background-color: rgba($colors.surface0, 0.5)
            border: 1px solid rgba($colors.surface1, 0.6)

            &:hover
                color: $colors.text
                background-color: rgba($colors.surface1, 0.8)
                border-color: $colors.surface2

            &:active
                background-color: rgba($colors.surface2, 0.9)

        // Element UI 输入框颜色
        .el-input__inner,
        .el-textarea__inner
            background-color: rgba($colors.surface0, 0.3)
            border-color: rgba($colors.surface1, 0.6)
            color: $colors.text

            &::placeholder
                color: $colors.overlay1

            &:hover
                border-color: rgba($colors.surface2, 0.8)
                background-color: rgba($colors.surface0, 0.5)

            &:focus
                border-color: $colors.blue
                background-color: rgba($colors.surface0, 0.7)

        // 输入框组合元素颜色
        .el-input-group__append,
        .el-input-group__prepend
            background-color: rgba($colors.surface1, 0.4)
            border-color: rgba($colors.surface1, 0.6)
            color: $colors.subtext1

        .el-button--text
            color: $colors.lavender

        // 按钮颜色
        .el-button:not(.el-button--primary):not(.el-button--text)
            color: $colors.text
            background-color: rgba($colors.surface0, 0.4)
            border-color: rgba($colors.surface1, 0.5)

            &:hover,
            &:focus,
            &:active
                color: $colors.blue
                background-color: rgba($colors.blue, 0.1)
                border-color: rgba($colors.blue, 0.6)

        // 主要按钮
        .el-button--primary
            background-color: $colors.blue
            border-color: $colors.blue
            color: $colors.base

            &:hover,
            &:focus
                background-color: $colors.sapphire
                border-color: $colors.sapphire

            &.is-disabled
                &,
                &:active,
                &:focus,
                &:hover
                    color: rgba($colors.base, 0.7)
                    background-color: rgba($colors.blue, 0.5)
                    border-color: transparent

        // 加载遮罩
        .el-loading-mask
            background-color: rgba($colors.base, 0.1)

        // 文本域字数统计
        .el-textarea .el-input__count
            color: $colors.overlay1

    // 管理员警告框
    .tk-admin-warn
        background-color: rgba($colors.yellow, 0.15)
        border-left-color: $colors.yellow
        color: $colors.text

        &::before
            background: linear-gradient(90deg, $colors.yellow, transparent)

apply-theme-mixins($colors)
    $colorMixins = 'content' 'article' 'button' 'navbar' 'widget' 'timeline' 'ui-elements' 'cookie-consent' 'pagination' 'card' 'tag' 'searchbox' 'toc' 'tabs' 'callout' 'twikoo'
    for $mixin in $colorMixins
        {$mixin + '-colors'}($colors)

apply-theme-mixins($latte);
html.night
    apply-theme-mixins($mocha);
    .card
        border: 1px solid rgba(69, 71, 90, 0.3);

// Inject color variables, so you can use var(--ctp-{color}) in css
:root
    for $key, $value in $latte
        --ctp-{$key}: $value

html.night
    for $key, $value in $mocha
        --ctp-{$key}: $value