@charset "UTF-8";

:where([data-theme="latte"]) {
  color-scheme: light;
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --text: #4c4f69;
  --subtext1: #5c5f77;
  --subtext0: #6c6f85;
  --overlay2: #7c7f93;
  --overlay1: #8c8fa1;
  --overlay0: #9ca0b0;
  --surface2: #acb0be;
  --surface1: #bcc0cc;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
}

:where([data-theme="macchiato"]) {
  color-scheme: dark;
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --subtext1: #b8c0e0;
  --subtext0: #a5adcb;
  --overlay2: #939ab7;
  --overlay1: #8087a2;
  --overlay0: #6e738d;
  --surface2: #5b6078;
  --surface1: #494d64;
  --surface0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
}

:where([data-theme="nord"]) {
  color-scheme: light;
  --rosewater: #bf616a;
  --flamingo: #d08770;
  --pink: #b48ead;
  --mauve: #b48ead;
  --red: #bf616a;
  --maroon: #a3be8c;
  --peach: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --teal: #8fbcbb;
  --sky: #81a1c1;
  --sapphire: #5e81ac;
  --blue: #81a1c1;
  --lavender: #5e81ac;
  --text: #2e3440;
  --subtext1: #3b4252;
  --subtext0: #434c5e;
  --overlay2: #4c566a;
  --overlay1: #5a657a;
  --overlay0: #686e7e;
  --surface2: #76809f;
  --surface1: #7d8fa3;
  --surface0: #8fa3b0;
  --base: #eceff4;
  --mantle: #e5e9f0;
  --crust: #d8dee9;
}

:where([data-theme="mocha"]) {
  color-scheme: dark;
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

:where([data-theme="tokyo_night"]) {
  color-scheme: dark;
  --rosewater: #f7768e;
  --flamingo: #ff9e64;
  --pink: #bb9af7;
  --mauve: #bb9af7;
  --red: #f7768e;
  --maroon: #db4b4b;
  --peach: #ff9e64;
  --yellow: #e0af68;
  --green: #9ece6a;
  --teal: #1abc9c;
  --sky: #7dcfff;
  --sapphire: #2ac3de;
  --blue: #7aa2f7;
  --lavender: #82aaff;
  --text: #c0caf5;
  --subtext1: #a9b1d6;
  --subtext0: #9aa5ce;
  --overlay2: #787c99;
  --overlay1: #565f89;
  --overlay0: #414868;
  --surface2: #414868;
  --surface1: #33467c;
  --surface0: #24283b;
  --base: #1a1b26;
  --mantle: #16161e;
  --crust: #101014;
}

:where([data-theme="nord_night"]) {
  color-scheme: dark;
  --rosewater: #b48ead;
  --flamingo: #d08770;
  --pink: #b48ead;
  --mauve: #b48ead;
  --red: #bf616a;
  --maroon: #bf616a;
  --peach: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --teal: #8fbcbb;
  --sky: #88c0d0;
  --sapphire: #81a1c1;
  --blue: #5e81ac;
  --lavender: #81a1c1;
  --text: #eceff4;
  --subtext1: #e5e9f0;
  --subtext0: #d8dee9;
  --overlay2: #4c566a;
  --overlay1: #434c5e;
  --overlay0: #3b4252;
  --surface2: #434c5e;
  --surface1: #3b4252;
  --surface0: #3b4252;
  --base: #2e3440;
  --mantle: #292e39;
  --crust: #242933;
}

a {
  color: var(--lavender);
}

a:hover {
  color: var(--blue);
}

.title {
  color: var(--lavender);
}

.article .title a:hover {
  background: linear-gradient(to right, var(--blue), var(--mauve), var(--pink));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: var(--peach);
}

h3 {
  color: var(--yellow);
}

h4 {
  color: var(--green);
}

h5 {
  color: var(--blue);
}

h6 {
  color: var(--mauve);
}

mark {
  background-color: var(--yellow);
}

.task-list-item-checkbox {
  accent-color: var(--lavender);
}

.task-list-item-checkbox:checked {
  accent-color: var(--mauve);
}

strong {
  color: var(--red);
}

blockquote {
  border-color: var(--red);
}
blockquote::before {
  color: var(--red);
}

table {
  background-color: var(--base);
  border: 1px solid var(--surface0);
}

th {
  background-color: var(--mantle);
  color: var(--text);
  border-bottom-color: var(--surface0) !important;
}
td {
  color: var(--text);
  border-bottom-color: var(--surface0) !important;
}
tbody tr:nth-child(even) {
  background-color: var(--mantle);
}

code {
  background-color: var(--base);
  color: var(--subtext1);
  border: 1px solid var(--surface0);
}

.article-meta a,
span {
  color: hsl(from var(--text) h s l / 0.85);
}
.media a {
  color: var(--text);
}
.media a:hover {
  color: var(--flamingo);
}

article .article-licensing {
  color: var(--subtext1);
  background-color: var(--base);
}

.button.is-primary,
.cc-window .cc-compliance > .cc-btn {
  background-color: var(--lavender);
  color: var(--base);
}

.button.is-primary:hover,
.cc-window .cc-compliance > .cc-btn:hover,
.button.is-primary.is-hovered,
.cc-window .cc-compliance > .cc-btn.is-hovered {
  color: var(--base);
  background-color: var(--mauve);
}

.button.is-primary:active,
.cc-window .cc-compliance > .cc-btn:active,
.button.is-primary.is-active,
.cc-window .cc-compliance > .cc-btn.is-active {
  color: var(--text);
  background-color: var(--mauve);
}

.navbar-main,
.navbar-menu {
  background: hsl(from var(--mantle) h s l / 0.95);
}

.navbar .navbar-item.is-active {
  color: var(--flamingo);
}

.navbar .navbar-item:hover,
.navbar .navbar-item:focus {
  color: var(--lavender);
}

.widget .menu-list a:hover,
.widget .menu-list a.is-active {
  background-color: var(--surface0);
}

.widget .menu-list li ul {
  border-color: var(--surface0);
}

.tag {
  color: var(--text);
  border-color: var(--surface0);
}

.tag:first-child {
  background: var(--base);
}

.tag:last-child {
  background: var(--mantle);
}

body {
  background: var(--mantle);
  color: var(--text);
}

.card {
  background: var(--mantle);
  border: 0.1px dashed var(--surface0);
}

input.task-list-item-checkbox:checked {
  background-color: var(--green);
  border-color: var(--green);
}

.footer,
.navbar-item,
.navbar-link,
.menu-label,
.level-item,
.v * {
  color: var(--text);
}

.link-muted,
.cc-window {
  color: var(--text);
}

.input,
.textarea {
  background-color: var(--crust);
  border-color: var(--surface0);
  color: var(--text);
}

.footer,
.footer:before {
  background-color: var(--mantle);
  opacity: 0.8 !important;
}

hr {
  background-color: var(--surface0);
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--text);
  box-shadow: 0 0 0px 1000px var(--surface0) inset;
}

.gallery-item .caption {
  color: var(--overlay1);
}

.breadcrumb {
  color: var(--blue);
}

.breadcrumb li a {
  color: var(--yellow);
}

.breadcrumb li.is-active a {
  color: var(--mauve);
}

.cc-window {
  color: var(--text);
  background-color: var(--base);
  border: 1px solid var(--surface0);
}

.cc-window.cc-banner {
  background-color: var(--mantle);
}

.cc-window .cc-compliance > .cc-btn {
  color: var(--base);
  background-color: var(--lavender);
  backdrop-filter: blur(10px);
}

.cc-window .cc-compliance > .cc-btn:hover,
.cc-window .cc-compliance > .cc-btn:focus {
  background-color: var(--mauve);
}

.cc-window .cc-compliance > .cc-btn.cc-deny:hover {
  color: var(--lavender);
}

.cc-revoke {
  color: var(--base);
  background-color: var(--lavender);
}

.cc-revoke:hover {
  background-color: var(--mauve);
}

.pagination-next,
.pagination-previous,
.pagination-link,
.pagination-ellipsis {
  color: var(--text);
  &:hover {
    background-color: var(--lavender);
    color: var(--base);
  }
}

.pagination-link.is-current {
  background-color: var(--lavender);
  color: var(--base);
}

.post-navigation > a {
  color: var(--lavender);
}

.post-navigation > a:hover {
  color: var(--mauve);
}

.searchbox .searchbox-container {
  background-color: var(--base);
  border: 2px solid var(--surface0);
}

.searchbox .searchbox-header,
.searchbox .searchbox-header .searchbox-input,
.searchbox .searchbox-header .searchbox-close,
.searchbox .searchbox-body,
.searchbox .searchbox-result-item {
  color: var(--subtext1);
  background-color: var(--mantle);
  border-color: var(--surface0);
}

.searchbox-result-item.active span {
    color: var(--lavender);
}
.searchbox-result-item:hover span {
    color: var(--mauve);
}

.floating-toc-button {
  background-color: var(--base);
  color: var(--text);
  border: 2px solid var(--surface0);
}

.floating-toc-container .widget {
  border: 1px solid var(--base);
}

.menu-list-link:hover .menu-list-text {
  color: var(--mauve) !important;
}
