/* ---------------------------------
 *         Cookie Consent
 * --------------------------------- */
.cc-window, .cc-revoke
    font-size: 1.1rem !important

.cc-window

    &.cc-floating
        border-radius: $card-radius
        box-shadow: $card-shadow

    .cc-compliance > .cc-btn
        font-weight: 400
        border: none

        &.cc-deny
            &:hover
                text-decoration: none

.cc-revoke
    padding: .5rem 1rem !important

    &:hover
        text-decoration: none !important
