$tag-radius ?= 5px;
$tag-border-width ?= 1px;

.tag
    font-family: $code-font;

.tags.has-addons
    display: inline-flex;
    align-items: center;
    transition: all 0.3s ease;

    &:hover
        transform: translateY(-2px);

    .tag
        margin: 0;
        border-radius: 0;
        padding: 0.5em 0.75em;
        transition: all 0.3s ease;
        border-style: solid;

        &:first-child
            border-width: $tag-border-width 0 $tag-border-width $tag-border-width;
            border-radius: $tag-radius 0 0 $tag-radius;

            &::before
                content: '#';
                opacity: 0.7;
                margin-right: 0.25em;

        &:last-child
            border-width: $tag-border-width $tag-border-width $tag-border-width 0;
            border-radius: 0 $tag-radius $tag-radius 0;
