span.year {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 0;

  font-size: 7.5rem;
  font-weight: bolder;
  font-family: Paris2024;
  color: hsl(from var(--mauve) h s l / 0.15);
  line-height: 1;
  user-select: none;
}
