:root {
    --line-height-tight: 1.3;
    --callout-border-width: 1.5px;
    --callout-padding: 10px 12px 10px 15px;
    --callout-radius: 8px;
    --callout-title-color: inherit;
    --callout-title-padding: 0;
    --callout-title-size: inherit;
    --callout-title-weight: 600;
    --callout-content-padding: 0;
    --callout-collapse-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0ibTkgMThsNi02bC02LTYiLz48L3N2Zz4=")
}

.callout {
    border-style: solid;
    border-width: var(--callout-border-width);
    border-radius: var(--callout-radius);
    margin: 1em 0;
    padding: var(--callout-padding);
    --callout-icon: lucide-pencil
}

.callout-title {
    padding: var(--callout-title-padding);
    display: flex;
    gap: 7px;
    font-size: var(--callout-title-size);
    line-height: var(--line-height-tight);
    align-items: center;
    cursor: pointer;

    >.callout-icon {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
    }

    >.callout-title-inner {
        --font-weight: var(--callout-title-weight);
        font-weight: var(--font-weight);
        color: var(--callout-title-color)
    }

    >.callout-fold {
        mask-image: var(--callout-collapse-icon);
        mask-size: 100%;
        -webkit-mask-image: var(--callout-collapse-icon);
        -webkit-mask-size: 100%;
        height: 20px;
        width: 20px;
        transition: .1s ease-in-out
    }
}

.callout-content {
    padding: var(--callout-content-padding)
}

details[close].callout>.callout-title>.callout-fold {
    transform: rotate(-90deg)
}

details[open].callout>.callout-title>.callout-fold {
    transform: rotate(90deg)
}


.callout[data-callout=info],
.callout[data-callout=todo] {
    --callout-icon: lucide-check-circle-2
}

.callout[data-callout=check],
.callout[data-callout=done],
.callout[data-callout=success] {
    --callout-icon: lucide-check
}

.callout[data-callout=attention],
.callout[data-callout=caution],
.callout[data-callout=warning] {
    --callout-icon: lucide-alert-triangle
}

.callout[data-callout=faq],
.callout[data-callout=help],
.callout[data-callout=question] {
    --callout-icon: lucide-alert-mark
}

.callout[data-callout=bug],
.callout[data-callout=danger],
.callout[data-callout=error],
.callout[data-callout=fail],
.callout[data-callout=failure],
.callout[data-callout=missing] {
    --callout-icon: lucide-zap
}

.callout[data-callout=hint],
.callout[data-callout=important],
.callout[data-callout=tip] {
    --callout-icon: lucide-flame
}

.callout[data-callout=example] {
    --callout-icon: lucide-list
}

.callout[data-callout=abstract],
.callout[data-callout=summary],
.callout[data-callout=tldr] {
    --callout-icon: lucide-clipboard-list
}

.callout[data-callout=cite],
.callout[data-callout=quote] {
    --callout-icon: quote-glyph
}