@import './color.css';
@import './font/font.css';
// Base CSS framework
@import '../../include/style/base';
// Icarus components
@import './icarus/article.css';
@import './icarus/search';
@import './icarus/plugin.css';
