@import '../../include/style/color.css';
// Base CSS framework
@import '../../include/style/base';
// Icarus components
@import '../../include/style/article';
@import '../../include/style/search';
@import '../../include/style/plugin';
