text = #cdd6f4;
surface0 = rgba(30, 30, 46, 0.9);
surface2 = rgba(30, 30, 46, 0.8);
subtext0 = #a6adc8;
crust = rgba(24, 24, 37, 0.4);
lavender = rgba(180, 190, 254, 0.85);

body.night
    .mermaid
        rect, polygon, circle, ellipserect
            fill #232534 !important;
            stroke #717FBC !important;
            stroke-width 2px !important;

        text, tspan, line
            fill text !important;

        p
            color text !important;

        path
            stroke text !important;

        path.Path
            fill text !important;

        .node rect, .node circle, .node ellipse, .node polygon, .node path
            fill fade(lavendar, 10%);
            stroke lavendar;

        .cluster rect
            fill surface0;
            stroke surface2;

        .label text, span, p
            fill text;
            color text;

        .flowchart-link
            stroke subtext0;

        .marker
            stroke subtext0;
            fill subtext0;

        .edgeLabel
            background-color crust;

            p
                background-color surface2;

        .octicon
            fill text !important;