screen-tablet = 769px;
screen-desktop = 1088px;
screen-widescreen = 1280px;
screen-fullhd = 1472px;
screen-onek = 1700px;

@media screen and (min-width screen-onek)
    .container
        max-width 1600px;
        width 1600px;

        .column.is-3-widescreen
            width 22%;

        .column.is-6-widescreen
            width 56%;

.navbar-main
    @media screen and (max-width screen-tablet - 1)
        .navbar-menu
            flex-direction column;

            .navbar-start, .navbar-end
                justify-content center;
                flex-wrap wrap; // 移动端菜单自动换行

                .navbar-item
                    padding 0.5rem;

            .navbar-end
                padding-bottom 0.5rem;

@media screen and (min-width screen-tablet)
    .column-main, .column-left, .column-right, .column-right-shadow
        &.is-sticky
            top 70px;

    .navbar
        z-index 100;
        position sticky;
        top 0;

// Section fixes
.section .container .columns
    -webkit-justify-content center;
    justify-content center;

#busuanzi_container_page_pv
    display none !important;

.card .v .vlist .vcard .vcontent
    text-align inherit;

.heimu
    color #1e1e2e;
    background-color #1e1e2e;

    &:hover
        color #cdd6f4;

.poem
    font-family 'outi', 'KaiTi';
    font-style bold;
    font-size 30px;
    text-align center;
    background-color rgba(210, 180, 140, 0.05);
    border 3px solid rgba(0, 0, 0, 0.1); /* 更改边框颜色和透明度 */
    padding 20px;
    margin 10px;
    width auto;
    border-radius 10px;
    box-shadow 0 4px 8px rgba(0, 0, 0, 0.2);
    transition-duration 0.5s;

    &:hover
        background-color rgba(210, 180, 140, 0.1);
        box-shadow 0 8px 16px rgba(0, 0, 0, 0.3);
        transform translateY(-2px);

::-webkit-scrollbar
    display: none
