$body-size ?= 16px
$body-min-width ?= 300px
$body-rendering ?= optimizeLegibility
$body-family ?= $family-primary
$body-overflow-x ?= hidden
$body-overflow-y ?= scroll

$body-font-size ?= 1em
$body-weight ?= $weight-normal
$body-line-height ?= 1.5

$code-padding ?= 0.25em 0.5em 0.25em
$code-weight ?= normal
$code-size ?= 0.875em

$small-font-size ?= 0.875em

$hr-height ?= 2px
$hr-margin ?= 1.5rem 0

$strong-weight ?= $weight-bold

$pre-font-size ?= 0.875em
$pre-padding ?= 1.25rem 1.5rem
$pre-code-font-size ?= 1em

html
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size $body-size
  scroll-behavior: smooth
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  min-width $body-min-width
  overflow-x $body-overflow-x
  overflow-y $body-overflow-y
  text-rendering $body-rendering
  text-size-adjust 100%

:target
    scroll-margin-top: 20vh;

article,
aside,
figure,
footer,
header,
hgroup,
section
  display block

body,
button,
input,
select,
textarea
  font-family $body-family

code,
pre
  -moz-osx-font-smoothing auto
  -webkit-font-smoothing auto

body
  font-size $body-font-size
  font-weight $body-weight
  line-height $body-line-height

// Inline
a
  cursor pointer
  text-decoration none
  strong
    color currentColor

code
  font-size $code-size
  font-weight $code-weight
  padding $code-padding

hr
  border none
  display block
  height $hr-height
  margin $hr-margin

img
  height auto
  max-width 100%

input[type="checkbox"],
input[type="radio"]
  vertical-align baseline

small
  font-size $small-font-size

span
  font-style inherit
  font-weight inherit

strong
  font-weight $strong-weight

// Block
fieldset
  border none

pre
  overflow-touch()
  font-size $pre-font-size
  overflow-x auto
  padding $pre-padding
  white-space pre
  word-wrap normal
  code
    background-color transparent
    color currentColor
    font-size $pre-code-font-size
    padding 0

.logo-img-dark
    display: none !important

html.night
  .logo-img
    display: none
  .logo-img-dark
    display: inline-block !important

iconify-icon
 display: inline-block
 width: 1em
 height: 1em