@import url("https://fontsapi.zeoseven.com/256/main/result.css");

.poem {
  font-family: "Huiwen-mincho", sans-serif;
  font-weight: normal;
  color: var(--red);
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  width: auto;
  border-radius: 10px;
}

.content {
  font-family: "Huiwen-mincho";
}
