@font-face {
  font-family: "doto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/css/font/woff2/doto.woff2) format("woff2");
}

@font-face {
  font-family: "outi";
  src: url(/css/font/woff2/outi_kaishu.woff2) format("woff2");
}

@font-face {
  font-family: "Paris2024";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("paris2024"),
    url(/css/font/woff2/Paris2024-Variable.woff2) format("woff2");
}