/* min-width: 1024px */
.is-hidden-desktop {
  display: none !important;
}

.is-invisible-desktop {
  visibility: hidden !important;
}

.navbar-burger {
  display: none;
}

.container {
  max-width: 960px;
}

/* navbar */
.navbar-main .navbar-menu,
.navbar-main .navbar-start,
.navbar-main .navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
  flex-shrink: 0;
}

.navbar-main .navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
  overflow-x: auto;
  background-color: transparent;
}

.navbar-main .navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}

.navbar-main .navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}