/* max-width: 768px */
/* TOC */
.widget.card#toc {
  display: none;
  position: fixed;
  margin: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.widget.card#toc .card-content {
  padding: 0;
}

.widget.card#toc .menu {
  padding: 1.5rem;
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
}

#toc-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
}

.widget.card#toc.is-active,
#toc-mask.is-active {
  display: block;
}

/* .article-licensing */
.article-licensing {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.is-hidden-mobile {
  display: none !important;
}

.is-invisible-mobile {
  visibility: hidden !important;
}

.level-left + .level-right {
  margin-top: 1.5rem;
}

.media-content {
  overflow-x: auto;
}

table {
  font-size: 14px;
}

table th,
table td {
  padding: 8px 12px;
}

.section {
  padding: 0.3rem;
}

.card {
  margin: 0 0 1.5rem 0;
}

.card .card-content,
.card .card-footer {
  padding: 1rem;
}

.pagination {
  flex-wrap: wrap;
}

.pagination-previous,
.pagination-next {
  flex-grow: 1;
  flex-shrink: 1;
}

.pagination-list li {
  flex-grow: 1;
  flex-shrink: 1;
}

footer.footer .level-start {
  text-align: center;
}

footer.footer .level-end .field {
  justify-content: center;
  margin-top: 1rem;
}