/* @media screen and (min-width $tablet), print */
.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1.5rem;
  z-index: 99;
}

.is-hidden-tablet {
  display: none !important;
}

.is-invisible-tablet {
  visibility: hidden !important;
}

/* level item */
.level {
  display: flex;
}

.level > .level-item:not(.is-narrow) {
  flex-grow: 1;
}

.level-left .level-item:not(:last-child),
.level-right .level-item:not(:last-child) {
  margin-right: 0.75rem;
}

.level-left,
.level-right {
  display: flex;
}

/* pagination */
.pagination-list {
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  order: 1;
}

.pagination-previous {
  order: 2;
}

.pagination-next {
  order: 3;
}

.pagination {
  justify-content: space-between;
}

.pagination.is-centered .pagination-previous {
  order: 1;
}

.pagination.is-centered .pagination-list {
  justify-content: center;
  order: 2;
}

.pagination.is-centered .pagination-next {
  order: 3;
}

.pagination.is-right .pagination-previous {
  order: 1;
}

.pagination.is-right .pagination-next {
  order: 2;
}

.pagination.is-right .pagination-list {
  justify-content: flex-end;
  order: 3;
}