// used in tag page and categories page
.breadcrumb
  @extend $block
  @extend $unselectable
  white-space nowrap
  font-family: monospace
  a
    align-items center
    display flex
    justify-content center
    padding 0 0.1em
  li
    align-items center
    display flex
    &:first-child a
      padding-left 0
    &.is-active
      a
        cursor default
        pointer-events none
    & + li::before
      content "\0002f"
  ul,
  ol
    align-items flex-start
    display flex
    flex-wrap wrap
    justify-content flex-start
