$menu-item-radius ?= $radius-small
$menu-list-border-left ?= 1px solid $border
$menu-list-line-height ?= 1.25
$menu-list-link-padding ?= 0.5em 0.75em
$menu-nested-list-margin ?= 0.75em
$menu-nested-list-padding-left ?= 0.75em
$menu-label-font-size ?= 0.75em
$menu-label-letter-spacing ?= 0.1em
$menu-label-spacing ?= 1em

.menu
  font-size $size-normal
  // Sizes
  &.is-small
    font-size $size-small
  &.is-medium
    font-size $size-medium
  &.is-large
    font-size $size-large

.menu-list
  line-height $menu-list-line-height
  a
    border-radius $menu-item-radius
    display block
    padding $menu-list-link-padding
  li
    ul
      border-left $menu-list-border-left
      margin $menu-nested-list-margin
      padding-left $menu-nested-list-padding-left

.menu-label
  font-size $menu-label-font-size
  letter-spacing $menu-label-letter-spacing
  text-transform uppercase
  &:not(:first-child)
    margin-top $menu-label-spacing
  &:not(:last-child)
    margin-bottom $menu-label-spacing
