$navbar-height ?= 4rem
$navbar-padding-vertical ?= 1rem
$navbar-padding-horizontal ?= 2rem
$navbar-z ?= 100
$navbar-item-img-max-height ?= 1.75rem
$navbar-bottom-box-shadow-size ?= 0 -2px 0 0
$navbar-breakpoint ?= $desktop

.navbar
  min-height $navbar-height
  position sticky
  top: 0
  left: 0
  right: 0
  transition: transform 0.3s ease-in-out
  z-index $navbar-z
  font-family: $family-morden
  & > .container
    align-items stretch
    display flex
    min-height $navbar-height
    width 100%

.navbar button
  background: none
  border none
  cursor pointer

.navbar-main.navbar--hidden
  transform: translateY(-100%)

.navbar-brand,
  align-items stretch
  display flex
  flex-shrink 0
  padding: 0

.navbar-menu
  display none

.navbar-item,
.navbar-link
  align-items center
  display flex
  font-size: 1.1rem
  padding 0 0.4rem
  position relative
  svg
    width 15px

.navbar-item
  flex-grow 0
  flex-shrink 0

.navbar-menu
  flex-grow 1
  flex-shrink 0
.navbar-start
  justify-content flex-start
  margin-right auto
.navbar-end
  justify-content flex-end
  margin-left auto
