.pagination
  @extend $block
  margin -0.25rem

.pagination,
.pagination-list
  align-items center
  display flex
  justify-content center
  text-align center

.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis
  @extend $unselectable
  height 2.5em
  border-radius 4px
  font-size 1.1em
  margin 0.25rem
  padding: 0 0.5em
  justify-content center
  text-align center
  align-items center
  display inline-flex
  line-height 1.5
  position relative
  vertical-align top

.pagination-previous,
.pagination-next,
.pagination-link
  min-width 2.5em

.pagination-previous,
.pagination-next
  padding-left 0.75em
  padding-right 0.75em
  white-space nowrap

.pagination-ellipsis
  pointer-events none

.pagination-list
  flex-wrap wrap

.post-navigation
    flex-wrap: wrap
    justify-content: space-around
    .level-item
        flex-shrink 1;
        margin-bottom: 0