$pagination-margin ?= -0.25rem
$pagination-min-width ?= $control-height

$pagination-item-font-size ?= 1em
$pagination-item-margin ?= 0.25rem
$pagination-item-padding-left ?= 0.5em
$pagination-item-padding-right ?= 0.5em

.pagination
  @extend $block
  font-size $size-normal
  margin $pagination-margin

.pagination,
.pagination-list
  align-items center
  display flex
  justify-content center
  text-align center

.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis
  @extend $control
  @extend $unselectable
  font-size $pagination-item-font-size
  justify-content center
  margin $pagination-item-margin
  padding-left $pagination-item-padding-left
  padding-right $pagination-item-padding-right
  text-align center

.pagination-previous,
.pagination-next,
.pagination-link
  min-width $pagination-min-width

.pagination-previous,
.pagination-next
  padding-left 0.75em
  padding-right 0.75em
  white-space nowrap

.pagination-ellipsis
  pointer-events none

.pagination-list
  flex-wrap wrap

.post-navigation
    flex-wrap: wrap
    justify-content: space-around
    .level-item
        flex-shrink 1;
        margin-bottom: 0