$column-gap ?= 0.75rem

.column
  display block
  flex-basis 0
  flex-grow 1
  flex-shrink 1
  padding $column-gap
  +tablet()
    &.is-8-tablet, &.is-8
      flex none
      width: 66.66%
  +desktop()
    &.is-8-desktop
      flex none
      width: 66.66%
  +widescreen()
    &.is-6-widescreen
      flex none
      width: 50%
    &.is-8-widescreen
      flex none
      width: 66.66666666666666%

.columns
  margin-left ($column-gap * -1)
  margin-right ($column-gap * -1)
  margin-top ($column-gap * -1)
  &:last-child
    margin-bottom ($column-gap * -1)
  &:not(:last-child)
    margin-bottom "calc(1.5rem - %s)" % $column-gap
  // Modifiers
  &.is-centered
    justify-content center
  &.is-mobile
    display flex
  &.is-multiline
    flex-wrap wrap
  // Responsiveness
  +tablet()
    &:not(.is-desktop)
      display flex
  +desktop()
    // Modifiers
    &.is-desktop
      display flex
